html {
  margin: 0 auto;
  padding: 0;
  width:100%;
  max-width: 1730px;
  min-width: 320px;
  background: white;
}

body {
  margin: 0 auto;
  padding: 0;
  width:100%;
  background: black;
}

#root {
  margin: 0 auto;
  padding: 0;
  width:100%;
  background: black;
}